.vscode
*.db
/gameserver/.idea
/client/scripts
/gameserver/ScriptEngine/obj
gameserver/GameServer/game.db-shm
gameserver/GameServer/game.db-wal
/gameserver/ScriptApi/obj
/gameserver/ScriptApi/bin
/gameserver/GameContent/obj
/gameserver/GameContent/bin
/gameserver/WorldGenTest
