body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #111;

  overflow: hidden;
}

* {
  font-family: "Courier Prime", monospace;

}


pre {
  line-height: 1px;
}

.user-input {
  color: darkolivegreen;
}