body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #121212;

  overflow: hidden;

}

* {
  font-family: "Courier Prime", monospace;

}

.RoomName {
  color: #30b859;
}

.Entity {
  color: #e6bd3a;
}

pre {
  line-height: 1px;
}

.user-input {
  color: rgba(255, 255, 255, 0.247);
}